{# perfil_estudiante.html.twig #}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Estudiante</title>
    <link rel="stylesheet" href="{{ asset('css/perfil-estudiante.css') }}">
</head>
<body>
    <header>
        <h1>Perfil de Estudiante</h1>
    </header>
    <header>
        <nav>
            <a href="{{ path('menu') }}">MENU</a>
            <a href="{{ path('species') }}">ESPECIE</a>
            <a href="{{ path('starships') }}">STARSHIPS</a>

        </nav>
    </header>
    <main>
        <section>
            <h2>Información Personal</h2>
            <ul>
                <li><strong>Nombre:</strong> {{ 'Oliver' }}</li>
                <li><strong>Edad:</strong> {{ '21' }}</li>
                <li><strong>Correo Electrónico:</strong> {{ 'oliverfranz2002@gmail.com' }}</li>
                <li><strong>Dirección:</strong> {{ 'A.6 de agosto' }}</li>
            </ul>
        </section>
        <section>
            <h2>Información Académica</h2>
            <ul>
                {# Define las variables aquí #}
                {% set universidad = 'Universidad Ucatec' %}
                {% set carrera = 'Analisis de sistemas' %}
                {% set fecha_inicio = '01/09/2020' %}
                {% set fecha_graduacion = '01/07/2024' %}
                
                <li><strong>Universidad:</strong> {{ universidad }}</li>
                <li><strong>Carrera:</strong> {{ carrera }}</li>
                <li><strong>Fecha de Inicio:</strong> {{ fecha_inicio }}</li>
                <li><strong>Fecha de Graduación Prevista:</strong> {{ fecha_graduacion }}</li>
            </ul>
        </section>
    </main>
</body>
</html>
